body {
  width: 600px;
  height: 560px;
  background-color: #ff0000;
  padding: 10px;
}

button {
  background: none;
  font-weight: bold;
  font-size: 1rem;
  padding: 6px 22px;
}
button:hover {
  background: rgb(76, 0, 255);
  color: white;
}

.card-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}